@model OdeToFood.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Restaurant</h1>
@foreach (var restaurant in Model.Restaurants)
{
    <div class="restaurant-info">
        <p>@restaurant.Id : @restaurant.Name</p>
        <a asp-action="Details" asp-controller="Home" asp-route-id="@restaurant.Id">View</a>
    </div>
}

<a asp-action="Create">Add Restaurant</a>

@section footer{
    @Model.CurrentMessage
}
