@model OdeToFood.Models.Restaurant
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>The id is @Model.Id</p>
</body>
</html>
