@model OdeToFood.ViewModels.HomeIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CurrentMessage</title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>
    @foreach (var restaurant in Model.Restaurants)
    {
        <div>
            <p>@restaurant.Name</p>
            <p>The id is @restaurant.Id</p>
        </div>
    }

</body>
</html>
