@model IEnumerable<OdeToFood.Models.Restaurant>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    @foreach (var restaurant in Model)
    {
        <div>
            <p>@restaurant.Name</p>
            <p>The id is @restaurant.Id</p>
        </div>
    }

</body>
</html>
