<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @DateTime.Now.Year
    </div>
    <footer>
        @RenderSection("footer", required: false)
        
        @* This is like Sitecore, nesting a MVC (View Component) in the view *@
        @await Component.InvokeAsync("Greeter"); 
        <vc:greeter></vc:greeter>
        @* The above two statements return the same result. *@
        @* <vc:greeter></vc:greeter> require additional register in ViewImport.cshtml *@
    </footer>
</body>
</html>
